<div style = "Text-aling: center">


# Analisis de datos masivos 
## analisis de datos del contador

# Jose Gabriel Rodriguez Rivas
# Antonio Emmanuel Martinez Rodriguez
</div>

In [8]:
import datetime
import csv
import subprocess

In [9]:
fecha_hora =datetime.datetime.now()
print (fecha_hora,type(fecha_hora))

2020-07-22 08:35:12.388225 <class 'datetime.datetime'>

In [10]:
fecha_hora.strftime('%a, %d %b %Y %H:%M:%S')

'Wed, 22 Jul 2020 08:35:12'

In [11]:
fecha_hora.strftime('%Y-%m-%d %H:%M:%S')

'2020-07-22 08:35:12'

## El comando speedtest-cli, si se ejecuta desde un terminal, devuelve una cadena con las velocidades de carga y descarga. Para ejecutar el comando de la computadora portátil, es necesario utilizar el subproceso del módulo de Python, que permite la ejecución de un proceso directamente de las celdas de código de la computadora portátil.

In [12]:
# This string contains the command line to interface with speedtest.net
speedtest_cmd = "speedtest-cli --simple"
# Execute the process
process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
# Collect the command output
process_output = process.communicate()[0]

In [13]:
print(process_output, type(process_output))

b'Ping: 57.822 ms\r\nDownload: 16.16 Mbit/s\r\nUpload: 1.21 Mbit/s\r\n' <class 'bytes'>

In [14]:
# Code cell 9
# function to excute the speed test
def speedtest():
    # We need to store the time at which the speedtest was executed
    date_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    # This is a string that contains what we would write on the command line 
    #to interface with speedtest.net
    speedtest_cmd = "speedtest-cli --simple"
    # We now execute the process: 
    process = subprocess.Popen(speedtest_cmd.split(), stdout=subprocess.PIPE)
    process_output = process.communicate()[0]
    process_output = process_output.split()
    # and we add the date and time 
    process_output.append(date_time)
    return process_output

In [15]:
with open("test.txt",'w') as f:
    f.write('test_msg')

In [16]:
with open("test.txt",'r') as f:
    str = f.read()
print(str)

test_msg

In [17]:
def save_to_csv(data, filename):
    try:
        # If the file exists, append a new line to it, with the 
        #results of the current experiment
        with open(filename + '.csv', 'a') as f:
            # Create a csv writer object 
            wr = csv.writer(f)
            # Save (write) to file
            wr.writerow(data)
    except:
        # If it does not exist, create the file first
        with open(filename + '.csv', 'w') as f:
            wr = csv.writer(f)
            # Save (write) to file
            wr.writerow(data)

In [21]:
def print_from_csv(filename): 
    with open(filename + '.csv', 'r') as f:
        re = csv.reader(f)
        for row in spamreader:
            print (', '.join(row))

In [20]:
for i in range(5):
    # Measure internet speed (speedtest_output) using the speedtest() created earlier
    speedtest_output = speedtest()
    # Print the test number
    print ('Test number {}'.format(i))
    # Print the result (The needed variable is speedtest_output)
    # ADD CODE HERE for printing the results
    print (speedtest_output)
    save_to_csv(speedtest_output, 'rpi_data_test')

Test number 0
[b'Ping:', b'24.565', b'ms', b'Download:', b'16.40', b'Mbit/s', b'Upload:', b'1.37', b'Mbit/s', '2020-07-22 08:44:02']
Test number 1
[b'Ping:', b'34.332', b'ms', b'Download:', b'15.26', b'Mbit/s', b'Upload:', b'1.47', b'Mbit/s', '2020-07-22 08:45:27']
Test number 2
[b'Ping:', b'36.842', b'ms', b'Download:', b'15.36', b'Mbit/s', b'Upload:', b'1.44', b'Mbit/s', '2020-07-22 08:46:52']
Test number 3
[b'Ping:', b'34.13', b'ms', b'Download:', b'16.37', b'Mbit/s', b'Upload:', b'1.19', b'Mbit/s', '2020-07-22 08:48:18']
Test number 4
[b'Ping:', b'36.986', b'ms', b'Download:', b'16.16', b'Mbit/s', b'Upload:', b'1.40', b'Mbit/s', '2020-07-22 08:49:44']

In [32]:
print_from_csv('./rpi_data_test')

NameError: name 'spamreader' is not defined

## parte dos de la practica

In [24]:
import datetime
import csv
import pandas as pd

import numpy as np

In [44]:
data_file = 'rpi_data_long.csv'

In [45]:
column_names = [ 'Type A', 'Measure A', 'Units A',
                 'Type B', 'Measure B', 'Units B',
                 'Type C', 'Measure C', 'Units C', 
                 'Datetime']

In [46]:
with open(data_file, 'r') as f:
    df_redundant = pd.read_csv(f, names = column_names)

In [47]:
df_redundant.head()

,Type A,Measure A,Units A,Type B,Measure B,Units B,Type C,Measure C,Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,24/11/2016 13:36
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,24/11/2016 13:36
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,24/11/2016 13:37
3,Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,24/11/2016 13:37
4,Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,24/11/2016 13:38

¿Cuál es el código para leer las primeras 20 líneas del archivo csv?

df_redundant.head(20)

In [48]:
df_compact = df_redundant.copy()

In [49]:
df_compact.rename(columns={'Measure A':'Ping (ms)', 
                           'Measure B': 'Download (Mbit/s)',
                           'Measure C': 'Upload (Mbit/s)'}, inplace=True)
df_compact.head(3)

,Type A,Ping (ms),Units A,Type B,Download (Mbit/s),Units B,Type C,Upload (Mbit/s),Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,24/11/2016 13:36
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,24/11/2016 13:36
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,24/11/2016 13:37

In [50]:
df_compact.drop(['Type A', 'Type B', 'Type C',
         'Units A', 'Units B', 'Units C'], axis=1, inplace=True)
df_compact.head()

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)          Datetime
0     26.992              91.80            14.31  24/11/2016 13:36
1     24.532              88.19            14.12  24/11/2016 13:36
2     20.225              59.86            14.11  24/11/2016 13:37
3     19.332              91.81            14.22  24/11/2016 13:37
4     22.494              92.05            14.08  24/11/2016 13:38

In [51]:
df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())

In [52]:
df_compact['Time'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).time())

In [60]:
df_compact.rename(columns=['Datetime'],axis=1 ,inplace=True)
df_compact.head()

TypeError: Cannot specify both 'axis' and any of 'index' or 'columns'.

In [55]:
print(df_compact['Date'][0], type(df_compact['Date'][0]) )
print(df_compact['Time'][0], type(df_compact['Time'][0]) )

2016-11-24 <class 'datetime.date'>
13:36:00 <class 'datetime.time'>

Paso 5: Guarde el nuevo marco de datos.

In [56]:
df_compact.to_csv('rpi_data_compact.csv')

In [57]:
df_compact

,Ping (ms),Download (Mbit/s),Upload (Mbit/s),Datetime,Date,Time
0,26.992,91.80,14.31,24/11/2016 13:36,2016-11-24,13:36:00
1,24.532,88.19,14.12,24/11/2016 13:36,2016-11-24,13:36:00
2,20.225,59.86,14.11,24/11/2016 13:37,2016-11-24,13:37:00
3,19.332,91.81,14.22,24/11/2016 13:37,2016-11-24,13:37:00
4,22.494,92.05,14.08,24/11/2016 13:38,2016-11-24,13:38:00
...,...,...,...,...,...,...
667,23.073,83.97,14.18,24/11/2016 19:15,2016-11-24,19:15:00
668,20.952,88.67,14.35,24/11/2016 19:15,2016-11-24,19:15:00
669,19.397,84.86,14.35,24/11/2016 19:16,2016-11-24,19:16:00
670,20.117,84.99,14.33,24/11/2016 19:16,2016-11-24,19:16:00
671,17.995,86.21,6.88,24/11/2016 19:17,2016-11-24,19:17:00