 ## c√≥mo trabajar con Python y SQLite

In [3]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [27]:
conn = sqlite3.connect('C:/Users/Antonio/phonebook.db')

In [28]:
conn.cursor()

In [29]:
cur = conn.cursor()

In [33]:
query = "SELECT name FROM coworkers;"
cur.execute(query)

OperationalError: no such table: coworkers

In [12]:
for row in cur:
    print(row)

NameError: name 'cur' is not defined